p {
  font-size: 20px;
  color: #262626;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-heading {
  color: rgb(204, 18, 18);
  font-size: 26px;
}

.underline {
  height: 4px;
  width: 12rem;
  background-color: #f76c2f;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-c-light {
  background-color: #f2f2f2;
}

.footer a {
  color: #ffff;
  text-decoration: none !important;
}

.footer a:hover {
  color: gray;
}

.carousel {
  width: 1300px;
  height: 500px;
  margin: 0 auto;
  height: auto;
}

li {
  font-size: 30px;
}
